# Build outputs
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS / VS Code
.vs/
.vscode/

# Rider
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Text data
*.txt

# JSON data
*.json

# Generated output (this tool)
ConvertData/JSON_OUT/
ConvertData/JSON_All/

# Source Excel files (local input)
ConvertData/EXCEL/
*.xls
Profile.xls

#  Ã1 folder
 Ã1/

# Temporary converted files (should normally be in %TEMP%, but ignore just in case)
*_converted_*.xlsx

# Temp/backups
*.tmp
/ConvertData/–ö–ú1
/ConvertData/KM1
/ConvertData/EXCEL_Profile/ProfileC.xlsx
/ConvertData/EXCEL_Profile/Profile.json
/ConvertData/EXCEL_Profile
/ConvertData/old
