name: CI

on:
  push:
    branches: [ "home", "main", "master" ]
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Restore
        run: dotnet restore ./ConvertData/ConvertData.csproj

      - name: Build (Release)
        run: dotnet build ./ConvertData/ConvertData.csproj -c Release --no-restore
